@model TrucksRegister.Models.Trucks

@{
    ViewData["Title"] = "Delete";
}

<h4 class="pb-5" style="text-align: center">Excluir caminhão</h4>

<h3>Deseja excluir este caminhão?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Modelo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            Ano / Fabricação
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufacturingYear)
        </dd>
        <dt class = "col-sm-2">
            Ano / Modelo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelYear)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
