@model TrucksRegister.Models.Trucks

@{
    ViewData["Title"] = "Details";
}

<h4 class="pb-5" style="text-align: center">Detalhes</h4>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Modelo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            Ano / Fabricação
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufacturingYear)
        </dd>
        <dt class = "col-sm-2">
            Ano / Modelo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelYear)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
